ASD_DATABASE_URL="file:./dev.db"
ASD_AUTH_SECRET="your-super-secret-key-that-is-at-least-32-characters-long"
ASD_AUTH_URL="http://localhost:3000"
ASD_CLIENT_ORIGIN="http://localhost:3080"
ASD_PORT=3311